:root {
    --primary-color: #FD841F;
    --text-color: #E14D2A;
  }
 
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  body {
    background-color: #FDA862;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 16px 14px;
    background-color: #FEEDDF;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #E14D2A;
  }
  
  /* HEADER */
  
  header {
    text-align: center;
    margin-bottom: 2px;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 10px;
  }
  
  header h2 {
    color: var(--text-color);
    font-size: 40px;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 95%;
    padding-top: 95%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
  }
  
  .control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
  }
  
  .control .btn.active {
    color: var(--primary-color);
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }
  
  .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 12px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
  
  /* PLAYLIST */
  .playlist {
    margin-top: 450px;
    padding: 12px;
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(1, 1, 1, 0.5);
  }
  
  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 25px;
    color: var(--text-color);
  }
  
  .song .author {
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }
  
  
  
  
     container ul{
  list-style:none;
  padding:0;
  margin:0;
}
.container li{position:relative;}
.container a{
  display:block;
  padding:2px 7px;
  height:30px;
  line-height:20px;
  text-decoration:none;
  white-space:nowrap;
  background:#FD841F;
  color:#FFEBAD;
  border: none;
  outline: none;

}
.container a:hover{
  background:#c0c0c0;
  color:#fff;

}
.menu{
  position:absolute;
  *zoom:2;
}
.menu:after, .menu:before{
  content:'';
  display:table;
  line-height:0;
}
.menu:after{clear:both;}
.menu > li{
  float:left;
  margin-right:5px;
  border:1px solid #fafafa;
}
.menu > li:last-child{margin-right:0;}
.sub-menu, .sub-sub-menu{
  border:1px solid #fafafa;
  border-top:0 none;
}
.sub-menu li{border-top:1px solid #fafafa;}
.sub-menu, .sub-sub-menu{
  position:absolute;
  left:-999em;
}
.sub-menu{top:30px;}
.sub-sub-menu{top:-1px;}
.menu > li:hover .sub-menu{left:0;}
.sub-menu > li:hover .sub-sub-menu{left:100%;}file:///C:/Users/SALAH/Desktop/bac/coran/index.html#
.container .arrow:after{
  content:'\00BB';
  position:absolute;
  right:3px;
  top:0;
  height:30px;
  line-height:30px;
}

.container .arrow:hover{color:#fff;}
.container .arrow > a{padding-right:20px;}


/* Style all font awesome icons */
.fa {
  padding: 8px;
  font-size: 50px;
  width: 20px;
  
  text-decoration: none;
  border-radius: 30%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

 